@layouts.app('title', 'login')
@end

<body>
  <main id="root">
    <section class="landing-page">
      <h1>Bienvenue sur x</h1>
      <div class="auth-buttons">
        <a href="/login" class="button">Se Connecter</a>
        <a href="/register" class="button">Créer un Compte</a>
      </div>
    </section>
  </main>
</body>
</html>